<div class="product-view">
    <div class="name"><h1><%= product.name %></h1></div>
    <div class="image"><img src="<%= product.image%>" alt="Oops..."></div>
    <div class="info">
        <div class="description"><article><%= product.description %></article></div>
        <div class="price"><h2>Starting from: <%= product.price %>$</h2></div>
    </div>
</div>